:root {
  --primary-color: rgb(124, 22, 22);
  --primary-color-lighter: rgb(175, 75, 75);
  --primary-color-darker: #781010;
  --primary-color-transparent: rgba(86, 11, 11, 0.5);
  --secondary-color-lighter: rgb(210, 226, 195);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body,
p {
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 2;
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-darker),
    var(--primary-color)
  );
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  background-color: transparent;
}

p,
a {
  font-family: "Mandali";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  background-color: rgba(255, 255, 255, 0.373);
  max-width: 66vw;
  margin: 0 auto 50vh;
  padding-top: 5rem;
}

section {
  position: relative;
  justify-content: center;
  align-items: center;
}

blockquote > p {
  font-family: "Qwitcher Grypen", cursive; /* The Nautigal */
  font-size: 3rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--primary-color-darker);
}

hr {
  margin: 7rem 0;
}

ul {
  list-style: none;
}

.section-observable {
  scroll-snap-align: center;
}

#main-nav {
  height: 50px;
}

#main-nav ul {
  margin: 0;
  padding: 0;
  height: 50px;
}

#main-nav li {
  height: 100%;
}

#skip-to-main {
  position: absolute;
  top: 3px;
  left: -100%;
  background-color: antiquewhite;
  padding: 0.3rem;
  margin: 0;
  border-radius: 10px;
  transition: 0.3s;
}

#skip-to-main:focus {
  left: 3px;
}

#main-subnav {
  position: absolute;
  top: -50px;
  left: -12px;
  z-index: -1;
  padding: 0;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform: scale(0);
  transform-origin: top;
  opacity: 0;
}

#main-subnav li {
  background-color: var(--primary-color-darker);
}

#li-subnav {
  position: relative;
}

#li-subnav:hover #main-subnav {
  top: 50px;
  transform: scale(1);
  opacity: 1;
}

.to-btn {
  position: fixed;
  z-index: 9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: default;
  transition: 0.3s;
  transform: scale(0.8);
}

#to-top-btn {
  bottom: 60px;
  right: 10px;
  background-color: var(--secondary-color-lighter);
  opacity: 0;
}

#to-next-btn {
  bottom: 10px;
  right: 10px;
  background-color: var(--primary-color-lighter);
}

.to-btn:hover {
  border: 1px solid var(--primary-color-darker);
  box-shadow: 0 0 5px black;
  transform: scale(1);
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.nav-btn {
  height: 100%;
  padding: 0 1rem;
  border: none;
  color: antiquewhite;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Reem Kufi";
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: antiquewhite;
  color: var(--primary-color);
  text-decoration: none;
}

#background-img {
  height: 66vh;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  transition: opacity 3s;
  filter: brightness(1.5);
}

#landing-img {
  position: absolute;
  opacity: 0.6;
  display: none;
}

.landing-container {
  position: relative;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  mix-blend-mode: hard-light;
  overflow: hidden;
}

.landing-content {
  text-align: center;
  transform: scale(0);
  transition: transform 3s;
}

.section-background {
  position: absolute;
  width: 100%;
  background-color: var(--primary-color-darker);
  mix-blend-mode: soft-light;
}

.section-background-content {
  width: 70vw;
  min-height: 70vh;
  background-color: antiquewhite;
  border-radius: 100px;
}

.section-content {
  position: relative;
  z-index: 1;
  width: 70vw;
  min-height: 70vh;
  justify-content: space-around;
}

.card {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  padding: 4rem 8rem;
  flex-direction: column;
}

.section-title,
.section-subtitle,
.main-title,
.main-subtitle {
  font-family: "Kaushan Script", Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}

.main-title,
.main-subtitle {
  text-shadow: 0px 0px 5px white;
  transform: scale(1);
}

.main-title {
  font-size: 10rem;
  margin: 0;
  color: #232323;
}

.section-title,
.main-subtitle {
  font-size: 6rem;
  margin-top: 3rem;
}

.list-title,
.list-subtitle {
  font-family: "Nunito Sans", "Merriweather", serif;
  /* text-decoration: underline; */
  font-weight: 700;
}

.list-title {
  font-size: 2.5rem;
}

.list-subtitle {
  font-size: 2rem;
}

h2.section-subtitle {
  font-size: 4rem;
}

h3.section-subtitle {
  font-size: 3rem;
}

.card:hover .section-title,
.card:hover .section-subtitle {
  text-shadow: 5px 5px 10px rgb(179, 179, 179);
}

.section-img {
  max-width: 50%;
  max-height: 100%;
  border-radius: 100px;
  box-shadow: 0 0 3px rgb(73, 73, 73);
}

.ulhasa-img {
  max-width: 90%;
  max-height: 100%;
  margin: 3rem;
  border-radius: 100px;
  box-shadow: 0 0 3px rgb(73, 73, 73);
}

#polaroid {
  border-radius: 0;
  max-width: 60%;
}

.section-text {
  font-family: Mandali, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 0.8rem;
}

.ulhasa-em {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
  font-style: italic;
  color: rgb(65, 65, 65);
}

.ulhasa-em strong {
  color: rgb(48, 48, 48);
}

.bottom-sticky-wrapper {
  position: relative;
  background-color: white;
  min-height: 500vh;
}

.section-break {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.section-break-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rocks-container {
  position: sticky;
  top: 0;
  object-fit: cover;
}

.rocks-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.rocks-content > img {
  max-width: 100%;
}

.rocks-bottom {
  bottom: 5px;
}

.rocks-bottom::before {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), white);
}

.rocks-bottom-white {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.831),
    rgba(255, 255, 255, 0)
  );
}

.bottom-wrapper-ending {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

.section-break-card {
  position: relative;
  padding: 2rem;
  box-shadow: 1px 1px 10px black;
  background-color: antiquewhite;
  border-radius: 10px;
  text-align: center;
  font-size: 1.7rem;
  transition: transform 1.5s ease-out;
  opacity: 1;
  /* transform: translateX(-110vw); */
}

.signature {
  margin-top: 1rem;
  font-size: 4rem;
}

#shiatsu .card {
  max-width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
}

#shiatsu .section-title {
  font-size: 5rem;
  margin: 1rem 0 2rem;
}

#shiatsu-kanji {
  float: right;
  height: 25rem;
}

#shiatsu-kanjii {
  float: right;
  height: 25rem;
}

#whoAmI {
  position: relative;
  min-height: 100vh;
  -webkit-transform: translate3d(0, 0, 0);
}

#whoAmI-img {
  margin-right: 4rem;
}

#contact-section {
  min-height: calc(100vh - 40px);
  box-sizing: content-box;
}

#whoAmI-background {
  min-height: 100vh;
}

article .section-content {
  min-height: 100%;
}

article section {
  margin: 15rem auto;
}

#whoAmI .card {
  flex-direction: row;
}

#whoAmI .section-title {
  font-size: 4rem;
}

.section-wrapper {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
}

#contact-background {
  position: absolute;
  background-color: var(--secondary-color-lighter);
  min-height: 100%;
}

#contact {
  padding-bottom: 3rem;
}

#contact h1 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1475px) {
  html {
    font-size: 0.9rem;
  }

  .section-background {
    position: sticky;
    top: 0;
    left: 0;
  }

  .section-wrapper-scroll {
    height: 350vh;
  }

  .section-content {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 90vw;
  }

  .card {
    max-width: 100%;
    width: 100%;
    padding: 4rem 4rem 6rem;
    border-radius: 50px;
  }

  .section-img {
    border-radius: 50px;
  }

  #whoAmI-wrapper {
    min-height: 300vh;
  }

  #whoAmI-img {
    margin: 0;
  }

  #whoAmI .card {
    flex-direction: column;
  }

  .section-break-placeholder {
    position: relative;
    width: 100%;
    height: 50vh;
  }
}

@media screen and (max-width: 1100px) {
  #shiatsu-kanji {
    float: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 0.7rem;
  }

  blockquote {
    margin: 0;
  }

  article {
    position: relative;
    top: 50vh;
    padding: 6rem 0;
    margin-bottom: -4px;
    background-color: transparent;
    border-radius: 20px;
    margin: 5rem auto;
  }

  blockquote > p {
    padding-top: 0.5rem;
    font-size: 2rem;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .to-btn {
    height: 30px;
    width: 30px;
  }

  #to-top-btn {
    bottom: 50px;
  }

  .section-observable {
    scroll-snap-align: start;
  }

  .main-title {
    font-size: 5rem;
  }

  .main-subtitle {
    font-size: 3rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .section-subtitle {
    font-size: 3rem;
  }

  .section-img {
    float: none;
    max-width: 100%;
  }

  .signature {
    font-size: 3rem;
    margin-top: 0;
  }

  .rocks-bottom-white {
    height: 20px;
  }

  .card {
    max-width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .section-break {
    align-items: end;
  }

  #shiatsu-card {
    z-index: 2;
    margin-bottom: 10rem;
  }

  article .card {
    margin: 10rem 0;
    background-color: rgba(255, 255, 255, 0.373);
  }

  #shiatsu .card {
    padding: 1rem;
  }

  #shiatsu {
    text-align: center;
  }

  #shiatsu-kanji {
    /* height: 100%; */
    float: none;
    margin: 0 auto;
  }

  #shiatsu-kanjii {
    float: unset;
  }

  #contact-section {
    height: 100%;
  }

  #contact-background {
    height: 100vh;
  }

  .bottom-sticky-wrapper {
    min-height: 700vh;
  }
}
